.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d);
}

h2{
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.chooseBtn {
  width: calc(50% - 20px);
  height: 50px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.activeG {
  background-color: green;
  color: #fff;
}

.activeR {
  background-color: red;
  color: #fff;
}

.select {
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.textarea {
  width: calc(100% - 20px);
  height: 100px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  resize: none;
}

.submitBtn {
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 5px;
  background-color: #1c4685;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.submitBtn:disabled {
  background-color: #ccc;
  color: gray;
}

.homePage {
  background-color: white;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 20px;
}